.navbar
{
    background-color: rgb(105, 115, 115);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}
.nav-link:hover
{
 background-color: rgb(24, 173, 113);
}
body
{
    background-color: black;
}
.box
{
    background-color: black;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    background-color: aqua;
}
.card
{
    background-color:aqua; ;
}